/* COLORS */
:root {
  --blue :#A3D9F0;
}
.spin-logo {
  animation: app-logo-spin infinite 20s linear;
}
.app-logo {
  height: 7rem;
}
.app-title {
  font-size: 1.5em;
}
.App-intro {
  font-size: large;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/* SOUNDS */
.sound-icon {
  margin-bottom: 40px;
  width: 90px;
  height: 90px;
  cursor: pointer;

  -webkit-transition: opacity 0.2s ease-in-out, transform .2s;
  -moz-transition: opacity 0.2s ease-in-out, transform .2s;
  -ms-transition: opacity 0.2s ease-in-out, transform .2s;
  -o-transition: opacity 0.2s ease-in-out, transform .2s;
  transition: opacity 0.2s ease-in-out, transform .2s;
  opacity: 0.5;
}

.sounds-row {
  margin-top: 40px;
  height: 180 px;
}

.sound-icon:hover {
  opacity: 0.8;
  transform: scale(1.1);
}
div.timer-div {
  position: fixed;
  top: 54px;
  left: 150px;
  z-index: 1029;
}
div.share-div {
  position: fixed;
  top: 54px;
  right: 45px;
  z-index: 1029;
}
.share-div img {
  width: 75px;
  cursor: pointer;
}

/* PLAY / PAUSE */
div.play-div {
  position: fixed;
  top: 54px;
  left: 45px;
  z-index: 1029;
}
.timer-div img,
.play-div img {
  width: 75px;
  cursor: pointer;
}

.timer-circle {
  background: rgb(82, 186, 213);
  color: #ffffff;
  width: 75px;
  height: 75px;
  border: 5px solid #ffffff !important;
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 768px) {
  div.play-div {
    left: auto;
    top: auto;
    right: 35px;
    bottom: 55px;
  }
  div.share-div {
    top: 35px;
    right: 35px;
    left: auto;
  }
  div.timer-div {
    top: 35px;
    left: 35px;
    right: auto;
  }
}


.example-appear {
  transform: scale(1);
}

.example-appear.example-appear-active {   
  animation: bounce 1s;  
}

@keyframes bounce {
  0% { transform:scale(0.7); }
  25% { transform:scale(1.5); }
  50% { transform:scale(0.8); }
  75% { transform:scale(1.2); }
  100% {transform:scale(1); }
}

.mixanim-enter {
  scale: 0;
}
.mixanim-enter.mixanim-enter-active {
  animation: grow 0.4s;
}
.mixanim-leave {
  scale: 1;
}
.mixanim-leave.mixanim-leave-active {
  animation: collaps 0.4s;
}

@keyframes collaps {
  0% { transform:scale(1); }
  100% { transform:scale(0); }
}
@keyframes grow {
  0% { transform:scale(0); }
  100% {transform:scale(1); }
}

/* MIXTURES */
.mixtures-div {
  text-align: start;
}
.mixtures-div .list-group-item {
  cursor: pointer;
}
.mixtures-div .caption {
  font-size: 1.25rem;
}
.mixture-block {
  border: 1px solid var(--blue) !important;
  border-radius: 6px;  
}
.mixture-block-selectable.active {
  background-color: var(--blue);
  color:#ffffff;
}

.mixture-block-selectable:hover {
  background-color: var(--blue);
  color:#ffffff;
}

.flex-container {  
  display:flex;
  align-items: center; /* Vertical center alignment */
  justify-content: flex-end; /* Horizontal center alignment */
}
.mixture-item {
  padding: 3px;
} 
.mixture-img {
  width: 37px;
  padding: 3px;
  cursor: pointer;
}
.mixture-action-btn {
  cursor: pointer;
}

.mixture-row .mixture-img {
  opacity: 0;
}
.mixture-row:hover .mixture-img {
  opacity: 0.5;
}
.mixture-row .mixture-img:hover {
  opacity: 1;
}


/* FOOTER LOGO WELCOME */
.footer-logo {
  /*text-align: left;*/
  height: 80px;
  line-height: 80px;
  font-size: 21px;
  font-weight: 500;
  color: rgba(255,255,255,0.5)
}

.footer-logo a {
  text-decoration:none;
  color: rgba(255,255,255,0.5);
}


.footer-logo a:hover {
  color: rgba(255,255,255,1);
}

.footer-menu {
  text-align: center;
}
.footer-menu li {
  list-style: none;
  display: inline-block;
  padding-right: 1.5em;
}
.footer-menu li:last-child {
  padding-right: 0;
}
.footer-menu a {
  font-size: 1.3em;
  font-weight: 500;
  text-transform: uppercase;
  color: inherit; 
  text-decoration: none;
}

.footer-menu a:hover {
  font-size: 1.3em;
  font-weight: 500;
  text-transform: uppercase;
  color: rgba(41, 6, 236, 0.5);
  text-decoration: none;
}

.background img {
  max-width:100%;
  max-height:100%;
}

.background {
  overflow: hidden;
}

/*ABOUT*/
.about-text {
  font-size: 14px;
  font-weight: 400;
}

.share-button {
  cursor: pointer;
}

.share-button:hover:not(:active) {
  opacity: 0.75;
}

.interval-selector ul {
  margin-bottom: 0;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;

  -webkit-overflow-scrolling: touch;
}
.interval-selector li {
  scroll-snap-align: center;
  text-align: center;
}
.interval-selector ul::-webkit-scrollbar {
  display: none;
}

header .top-bar-item {
    font-weight: 500;
    text-transform: uppercase;
    /* color: rgba(255,255,255, 0.5); 
    color: rgba(255,255,255, 1);*/
    text-decoration: none;
}

header .top-bar-item:hover {
  font-weight: 500;
  text-transform: uppercase;
  /* color: rgba(255,255,255, 1); */
  text-decoration: none;
}
/*CATEGORIES NAV*/
.list-group-item {
  border-color: var(--blue);
}
.list-group-item:hover {
  color:#ffffff;
  background-color: var(--blue);
}
.list-group-item.active {
  background-color: var(--blue);
  border-color: var(--blue);
}
/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(190, 190, 190); 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(119, 119, 119); 
}