.App {
  text-align: center;  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  /* background-color: #333333; */
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/* SOUNDS */
.sound-icon {
  margin-bottom: 40px;
  width: 90px;
  height: 90px;
  cursor: pointer;


  -webkit-transition: opacity 0.1s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out;
  -ms-transition: opacity 0.1s ease-in-out;
  -o-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  opacity: 0.5;  
}

.sounds-row{
margin-top: 40px;
height: 180 px;
}

.sound-icon:hover {
  opacity: 0.8;
}

/* PLAY / PAUSE */
div.play-div {
  position: fixed;
  top: 54px;
  right: 45px;
  z-index: 99999;
}
.play-div img {
  width: 45px;
  cursor: pointer;  
}
/* .play-div:hover > img {
  opacity: 1;
} */

@media (max-width: 768px) {
  div.play-div{
    top: auto;
    bottom: 54px;
  }
}

.example-appear {
  transform: scale(1);
}

.example-appear.example-appear-active {   
  animation: bounce 1s;  
}

@keyframes bounce {
  0% {
    transform:scale(0.7);    
  }
  25% {
    transform:scale(1.5);    
  }
  50% {
    transform:scale(0.8);    
  }
  75% {
    transform:scale(1.2);    
  }
  100% {
    transform:scale(1);
  }
}

/* MIXTURES */
div.mixtures-div {
  position: fixed;
  top: 150px;
  left: 45px;
  width: 250px;
  height: 500px;
  /* background-color: gray; */
}

.mixture-block{
  /* text-align: left; */
  border: 1px solid #ffffff !important;
  border-radius: 12px;  
  /* padding: 5px; */
}

.mixture-block-selectable:hover {
  background-color: rgb(146, 221, 240);
}

.flex-container {  
  display:flex;
  align-items: center; /* Vertical center alignment */
  justify-content: flex-end; /* Horizontal center alignment */
}
.mixture-item{
  padding: 3px;
} 
.mixture-img{
  width: 35px;
  padding: 3px;
  cursor: pointer;
}
.mixture-action-btn{
  cursor: pointer;
}
.mixture-row .mixture-img{
  opacity: 0;
}
.mixture-row:hover .mixture-img{
  opacity: 0.5;
}
.mixture-row .mixture-img:hover{
  opacity: 1;
}


/* FOOTER LOGO WELCOME */
.footer-logo-welcome{
  /* background-color: rgb(138,220,179); */
  width: 100%;
/*   -webkit-box-shadow: 0px -2px 0px 0px rgba(29, 29, 27, 0.05);
  -moz-box-shadow:    0px -2px 0px 0px rgba(29, 29, 27, 0.05);
  box-shadow:         0px -2px 0px 0px rgba(29, 29, 27, 0.05); */
  z-index: 1000;
}

.footer-logo {
  /*text-align: left;*/
  height: 80px;
  line-height: 80px;
  font-size: 21px;
  font-weight: 500;
  color: rgba(255,255,255,0.5)
}

.footer-logo a {
  text-decoration:none;
  color: rgba(255,255,255,0.5);
}


.footer-logo a:hover {
  color: rgba(255,255,255,1);
}

.footer-logo-menu {
  text-align: center;
  line-height: 80px;
}
.footer-logo-menu ul {
  list-style: none;
  padding-right:28px;
}
.footer-logo-menu li {
  list-style: none;
  display: inline-block;
  padding-right: 9px;
}
.footer-logo-menu li:last-child {
  padding-right: 0;
}
.footer-logo-menu a {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  color: rgba(255,255,255, 0.5);
  text-decoration: none;
}

.footer-logo-menu a:hover {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  color: rgba(255,255,255, 1);
  text-decoration: none;
}

/*ABOUT*/
.about-text {
  font-size: 14px;
  font-weight: 400;
  /* text-align: left; */
  color: rgb(255,255,255);
}