.app {
  text-align: center;  
}

.spin-logo {
  animation: app-logo-spin infinite 20s linear;
}

.app-logo {
  height: 80px;
}

.app-header {
  /* background-color: #333333; */
  height: 150px;
  padding: 20px;
  color: white;
}

.app-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/* SOUNDS */
.sound-icon {
  margin-bottom: 40px;
  width: 90px;
  height: 90px;
  cursor: pointer;


  -webkit-transition: opacity 0.1s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out;
  -ms-transition: opacity 0.1s ease-in-out;
  -o-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  opacity: 0.5;  
}

.sounds-row{
margin-top: 40px;
height: 180 px;
}

.sound-icon:hover {
  opacity: 0.8;
}

div.timer-div {
  position: fixed;
  top: 54px;
  left: 150px;
  z-index: 1029;
}

div.share-div {
  position: fixed;
  top: 54px;
  right: 45px;
  z-index: 1029;
}
.share-div img {
  width: 75px;
  cursor: pointer;
}

/* PLAY / PAUSE */
div.play-div {
  position: fixed;
  top: 54px;
  left: 45px;
  z-index: 1029;
}
.timer-div img,
.play-div img {
  width: 75px;
  cursor: pointer;
  background-color: rgb(82, 186, 213);
  border-radius: 50%;
}

.timer-circle {
  background: rgb(82, 186, 213);
  color: #ffffff;
  width: 75px;
  height: 75px;
  border: 5px solid #ffffff !important;
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 768px) {
  div.play-div {
    left: auto;
    top: auto;
    right: 35px;
    bottom: 55px;
  }
  div.share-div {
    top: 35px;
    right: 35px;
    left: auto;
  }
  div.timer-div {
    top: 35px;
    left: 35px;
    right: auto;
  }
}

.example-appear {
  transform: scale(1);
}

.example-appear.example-appear-active {   
  animation: bounce 1s;  
}

@keyframes bounce {
  0% { transform:scale(0.7); }
  25% { transform:scale(1.5); }
  50% { transform:scale(0.8); }
  75% { transform:scale(1.2); }
  100% {transform:scale(1); }
}

.mixanim-enter {
  scale: 0;
}
.mixanim-enter.mixanim-enter-active {
  animation: grow 0.4s;
}
.mixanim-leave {
  scale: 1;
}
.mixanim-leave.mixanim-leave-active {
  animation: collaps 0.4s;
}

@keyframes collaps {
  0% { transform:scale(1); }
  100% { transform:scale(0); }
}
@keyframes grow {
  0% { transform:scale(0); }
  100% {transform:scale(1); }
}


.white-text {
  color: #ffffff;  
}

/* MIXTURES */
div.mixtures-div {
  position: fixed;
  top: 150px;
  left: 45px;
  width: 250px;
  height: 500px;
  z-index: 1029;
  /* background-color: gray; */
}

.mixture-block{
  /* text-align: left; */
  border: 1px solid #ffffff !important;
  border-radius: 6px;  
  /* padding: 5px; */ 
}

.mixture-block-selectable:hover {
  background-color: rgb(146, 221, 240);
}

.flex-container {  
  display:flex;
  align-items: center; /* Vertical center alignment */
  justify-content: flex-end; /* Horizontal center alignment */
}
.mixture-item {
  padding: 3px;
} 
.mixture-img {
  width: 37px;
  padding: 3px;
  cursor: pointer;
}
.mixture-action-btn {
  cursor: pointer;
}

.mixture-row .mixture-img {
  opacity: 0;
}
.mixture-row:hover .mixture-img {
  opacity: 0.5;
}
.mixture-row .mixture-img:hover {
  opacity: 1;
}


/* FOOTER LOGO WELCOME */
.footer-logo-welcome{
  /* background-color: rgb(138,220,179); */
  width: 100%;
/*   -webkit-box-shadow: 0px -2px 0px 0px rgba(29, 29, 27, 0.05);
  -moz-box-shadow:    0px -2px 0px 0px rgba(29, 29, 27, 0.05);
  box-shadow:         0px -2px 0px 0px rgba(29, 29, 27, 0.05); */
  z-index: 1000;
  height: 45px;
}

.footer-logo {
  /*text-align: left;*/
  height: 80px;
  line-height: 80px;
  font-size: 21px;
  font-weight: 500;
  color: rgba(255,255,255,0.5)
}

.footer-logo a {
  text-decoration:none;
  color: rgba(255,255,255,0.5);
}


.footer-logo a:hover {
  color: rgba(255,255,255,1);
}

.footer-logo-menu {
  text-align: center;
  /* line-height: 80px; */
}
.footer-logo-menu ul {
  list-style: none;
  padding-right:28px;
}
.footer-logo-menu li {
  list-style: none;
  display: inline-block;
  padding-right: 9px;
}
.footer-logo-menu li:last-child {
  padding-right: 0;
}
.footer-logo-menu a {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  color: rgba(255,255,255, 0.5);
  text-decoration: none;
}

.footer-logo-menu a:hover {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  color: rgba(255,255,255, 1);
  text-decoration: none;
}

/*ABOUT*/
.about-text {
  font-size: 14px;
  font-weight: 400;
  /* text-align: left; */
  color: rgb(255,255,255);
}

.share-button {
  cursor: pointer;
}

.share-button:hover:not(:active) {
  opacity: 0.75;
}

.interval-selector ul {
  margin-bottom: 0;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;

  -webkit-overflow-scrolling: touch;
}
.interval-selector li {
  scroll-snap-align: center;
  text-align: center;
}
.interval-selector ul::-webkit-scrollbar {
  display: none;
}
